<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE_INFO" value="${LOG_PATH}/app.log"/>
    <property name="LOG_FILE_ERROR" value="${LOG_PATH}/app.err"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOG_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_INFO}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_INFO}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
        <!--            <level>INFO</level>-->
        <!--            <onMatch>ACCEPT</onMatch>-->
        <!--            <onMismatch>DENY</onMismatch>-->
        <!--        </filter>-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%X{LOGGABLE_TIME_WATCH} %level> [%thread] %logger{15} -%msg %n</Pattern>
        </layout>
    </appender>

    <springProfile name="prod">
        <logger name="org.springframework." level="INFO"/>
        <logger name="org.hibernate." level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
        <logger name="com.warmup.familytalk" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_INFO"/>
        </root>
    </springProfile>
</configuration>


